<%- include("header") -%>

<div class="row">
  <div class="col-lg-6">
    <h3>Mongo DB</h3>
    <div class="container-1">
      <div class="box-1 box">
        <h4>Insertion</h4>
        <p id="insertM"><%=insertM%></p>
      </div>
      <div class="box-1 box">
        <h4>Reading</h4>
        <p id="readM"><%=readM%></p>
      </div>
      <div class="box-2 box">
        <h4>Updating</h4>
        <p id="upadM"><%=upadM%></p>
      </div>
      <div class="box-3 box">
        <h4>Deleting</h4>
        <p id="delM"><%=delM%></p>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <h3>MySql DB</h3>
    <div class="container-1">
      <div class="box-1 box">
        <h4>Insertion</h4>
        <p id="insertS"><%=insertS%></p>
      </div>
      <div class="box-1 box">
        <h4>Reading</h4>
        <p id="readS"><%=readS%></p>
      </div>
      <div class="box-2 box">
        <h4>Updating</h4>
        <p id="upadS"><%=upadS%></p>
      </div>
      <div class="box-3 box">
        <h4>Deleting</h4>
        <p id="delS"><%=delS%></p>
      </div>
    </div>
  </div>
</div>
<h1 class="graph">Graph</h1>
<div id="chartContainer"></div>

<form action="/cases" method="get">
  <input
    type="image"
    src="images/coronavirus.png"
    name="image"
    class="float"
    onChange="this.form.submit()"
  />
</form>

<%- include("footer") -%>
